*{
    padding: 0;
    margin: 0;
}
body{
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 10px;
     background-image: url(images/Beautiful-tropical-landscape-green-mountains-waterfalls-Sri-Lanka_2560x1440.jpg);
    background-position: center;
}
.container{
     font-family: "roboto",sans-serif;
    position: relative;
    z-index: 1;
    background: #ffffff;
    opacity: 99%;
    max-width: 260px;
    margin: 200px auto 100px;
    padding: 10px 45px 39px 45px;
    text-align: center;
    box-sizing: 0 0 20px 0 rgba(0,0,0,0.2);
    border-radius: 10px;
}

.titel{
    border-radius: 10px;
    
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;

    box-sizing: border-box;
    font-size: 14px ;
    
}
 .container form .user-deatils{
     display: flex;
     flex-wrap: wrap;
 }
.input-box{ 
     width: calc(100% /2 - 20px);
     padding-left: 10px;
 }   
 .input-box input{
     outline: 0;
    border-radius: 10px;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px ;
    text-transform: uppercase;
 }
 .input-box input:hover{
   background-color: #D3f8f9; 
   transition: all 1s ease 0s; 
}
button {
    text-transform: uppercase;
    outline: 0;
    border-radius: 10px;
    background: #1adbe5;
  
    border: 0;
    padding: 15px ;
    cursor: pointer;
}
span{
    text-transform: uppercase;
}
 a{
    text-decoration: none;
    color: black;
     border-radius: 10px;
    background: #1adbe5;
    width: 100%;
    border: 0;
    padding: 15px ;
 
}

.button button:hover,.button button:active,.button button:focus{
    background-color: #06c5cf;
    transition: all 1s ease 0s;
}
.button a:hover,.button a:active,.button a:focus{
    background-color: #06c5cf;
    transition: all 1s ease 0s;
}
.e{
    margin-top: 30px;
}