@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Noto+Sans+KR:wght@100&family=Quicksand:wght@300&family=Rubik&display=swap");
body {
  font-family: "Lato", sans-serif;
  box-sizing: border-box;
  background-color: azure;
}
html {
  scroll-behavior: smooth;
}
* {
  padding: 0;
  margin: 0;
}
/*navigathion bar*/
ul {
  list-style-type: none;
}
.logo {
  text-align: center;
  height: 40px;
  background-color: whitesmoke;
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}
nav ul {
  padding: 0;
  margin: 0;
  display: flex;
}
ul li {
  flex: 20%;
}

.container-2 {
  text-align: center;
  z-index: 5;
  background-color: antiquewhite;
}

.box {
  padding: 10px 0;
}
.box:hover {
  background-color: aqua;
  display: flex;
  justify-content: center;
  transform: scale(1.5);
}
/*end*/
/*cover photo*/
.berak {
    position: sticky;
    top: 0;
    z-index: 1;
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url("images/background-2.jpg");
  background-position: center;
  background-size: cover;
}
.berak p {
  text-transform: uppercase;
  font-size: 100px;
  color: black;
}
/*end*/
/*down bar*/
.down_navi-1 {
  text-align: center;
  position: sticky;
  bottom: 0;
  z-index: 5;
  background-color:whitesmoke;
  width: 100%;
}
.box-d {
  padding: 10px 0;
}
.down_navi-1 ul li{
    font-size: larger;
    text-transform: uppercase;

}
/*end*/
/*first_step*/
.container-3{
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: antiquewhite;
    padding-bottom: 50px;
}
.container-3-grid{
    display: grid;
    grid-template-columns: repeat(4 ,1fr);
    grid-template-rows: auto;
  padding-left: 30px;
}
.co-images{
    height: 300px;
    width: 300px;
    overflow: hidden;
}
.co-item img{
    object-fit: cover;
}
.co-images img{
    height: 300px;
    width: auto;
    object-fit: cover;
    object-position: center;
}
.titel{
    text-align: center;
    text-transform: uppercase;
    padding: 10px;
}
.sub_titel{
    text-transform: uppercase;
}
