@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Noto+Sans+KR:wght@100&family=Quicksand:wght@300&family=Rubik&display=swap');
body{
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
*{
    padding: 0;
    margin: 0;
}
/*navigathion bar*/
ul{
    list-style-type: none;
   
}
.logo{
    text-align: center;
    height: 40px;
    background-color: whitesmoke;
    margin: 0;
    
}

 a{
     text-decoration: none;
     color: black;
 }
nav ul{
   padding:  0;
   margin: 0;
   display: flex;
  
}
ul li{
    flex: 20%;
}

.container-2{
    text-align: center;
   position: sticky;
   top: 0;
   background-color: antiquewhite;
}  

.box{
    padding: 10px 0;
}
.box:hover{
    background-color: aqua;
    display: flex;
    justify-content: center;
    transform: scale(1.5);

}
/*search bar*/
.area{
    
    height: 500px;
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
    background-image: url("images/bacground.jpg");
    background-position: center;
    background-size: cover;
   

}
.area h1{
    text-transform: uppercase;
    color: black;
}

 button img{
    object-fit: cover;
    box-sizing: content-box;
    height: 40px;
    width: 40px;
}
.search{
    display: flex;
    justify-content: center;
    margin: 10px 0;
    
}
button{
    order: 1;
    border: none;
    height: 50px;
    width: 50px;  
    background-color: bisque; 
    
}
input{
    border: none;
    outline: none;
    font-size: larger;
    
}
.area p{
    font-size: 50px;
    color: azure;
    
}
/*paragraph*/
.paragraph{
 margin: 50px;
}
.paragraph h1{
    color: black;
}
.paragraph p{
    font-size: larger;
}
.paragraph_images{
  display: flex;
  justify-content: center;
}

 
.images img{
    height: 300px;
    object-fit: cover;
   
}
.p_texst{
    width: 181px;
    text-align: center;
}
/*images gallery*/
.container{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-auto-rows: 100px 300px;
    grid-gap: 10px;
}
.gallery-item{
    width: 100%;
    height: 100%;
    position: relative;
}
.gallery-item .images{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.gallery-item .images img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
    cursor: pointer;
    transition: .5s ease-in-out;
}
.gallery-item:hover .images img{
transform: scale(1.5);
}
.text{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 4;

}
.w-4{
    grid-column: span 3;
}
.w-2{
    grid-column: span 2;
}
.w-3{
    grid-column: span 5;
}